<div class="carousell-item">
    <div class="carousel-item-header">
        <div class="review-place">{{place}}</div>
        <div class="review-adress">
            <a href="" class="carousell-item-link"
                data-coords="{{coords}}"
                data-adress="{{adress}}"
            >{{adress}}</a>
        </div>
        <div class="review-text">{{text}}</div>
    </div>
    <div class="review-date">{{date}}</div>
</div>